<div class="form-container mat-elevation-z5">
    <div class="center">
        <img src="/assets/img/Logo.png" style="height: 96px; width: 96px; object-fit: cover;">
    </div>
    <h1 class="center">M³ Messenger</h1>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">

        <mat-form-field>
            <input matInput placeholder="Email addres" formControlName="email" type="email">
            <mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
            <mat-error *ngIf="email?.errors?.['email']">Please enter a correct email format</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" type="password">
            <mat-error *ngIf="password?.errors?.['required']">Password is required</mat-error>
        </mat-form-field>

        <div class="center mt-16">
            <button mat-raised-button color="primary" type="submit">Login</button>
        </div>
        <span class="center mt-16">Login as Guest<a routerLink="home" class="sign-up-link">Login</a></span>
        <span class="center mt-16">New to our platform? <a routerLink="signUp" class="sign-up-link">Sign
                Up!</a></span>

    </form>
</div>